<a href="https://colab.research.google.com/github/Sokolkk/python_course/blob/main/Python_Course6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cет (set)

In [17]:
myset = {"Яблоко", "Банан", "Апельсин","Апельсин"}
print(myset)

{'Апельсин', 'Банан', 'Яблоко'}

In [19]:
myset = {"Яблоко", "Банан", "Апельсин","Апельсин"}
print(len(myset))

3

In [26]:
myset = {"Яблоко", 1, 2.7}
print(myset)

{1, 2.7, 'Яблоко'}

In [28]:
myset = {"Яблоко", 1, 2.7}
print(type(myset))

<class 'set'>

In [30]:
myset = set(("Яблоко", 1, 2.7))
print(myset)

{1, 2.7, 'Яблоко'}

Доступ к элементам

In [32]:
myset = set(("Яблоко", 1, 2.7))

for x in myset:
  print(x)

1
2.7
Яблоко

In [35]:
myset = {"Яблоко", 1, 2.7}
print("Яблоко" in myset)

True

добавление элементов

In [38]:
myset = {"Яблоко", 1, 2.7}
myset.add("банан")
print(myset)

{'банан', 1, 2.7, 'Яблоко'}

In [42]:
myset = {"Яблоко", 1, 2.7}
mylist= ["Яблоко", "Банан", "Апельсин","Апельсин"]

myset.update(mylist)

print(myset)

{'Апельсин', 1, 2.7, 'Банан', 'Яблоко'}

In [ ]:
удаление элементов

In [46]:
myset = {"Яблоко", 1, 2.7}
myset.remove("Яблоко")
print(myset)

{1, 2.7}

In [50]:
myset = {"Яблоко", 1, 2.7}
myset.discard("Яблоко")
print(myset)

{1, 2.7}

In [54]:
myset = {"Яблоко", 1, 2.7}
z = myset.pop()
print(z)
print(myset)

1
{2.7, 'Яблоко'}

In [56]:
myset = {"Яблоко", 1, 2.7}
myset.clear()
print(myset)

set()

In [ ]:
myset = {"Яблоко", 1, 2.7}
del myset
print(myset)

объединение сетов

In [63]:
myset = {"Яблоко", 1, 2.7}
mylist= {"Яблоко", "Банан", "Апельсин","Апельсин"}

x = myset.union(mylist)

print(x)

{'Апельсин', 1, 2.7, 'Банан', 'Яблоко'}

In [65]:
myset1 = {"Яблоко", 1, 2.7}
myset2 = {"Яблоко", "Банан", "Апельсин","Апельсин"}

myset1.intersection_update(myset2)

print(myset1)

{'Яблоко'}

In [67]:
myset1 = {"Яблоко", 1, 2.7}
myset2 = {"Яблоко", "Банан", "Апельсин","Апельсин"}

myset3 = myset1.intersection(myset2)

print(myset3)

{'Яблоко'}

In [69]:
myset1 = {"Яблоко", 1, 2.7}
myset2 = {"Яблоко", "Банан", "Апельсин","Апельсин"}

myset1.symmetric_difference_update(myset2)

print(myset1)

{'Апельсин', 1, 2.7, 'Банан'}

In [71]:
myset1 = {"Яблоко", 1, 2.7}
myset2 = {"Яблоко", "Банан", "Апельсин","Апельсин"}

myset3 = myset1.symmetric_difference(myset2)

print(myset3)

{'Апельсин', 1, 2.7, 'Банан'}