<a href="https://colab.research.google.com/github/Sokolkk/python_course/blob/main/Python_Course5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Кортежи**

In [1]:
mytuple = ("Яблоко", "Банан", "Апельсин")
print(mytuple)

('Яблоко', 'Банан', 'Апельсин')

In [3]:
mytuple = ("Яблоко", "Банан", "Апельсин")
print(type(mytuple))

<class 'tuple'>

In [4]:
mytuple = ("Апельсин", "Апельсин", "Апельсин")
print(mytuple)

('Апельсин', 'Апельсин', 'Апельсин')

In [5]:
mytuple = ("Апельсин", "Апельсин", "Апельсин")
print(len(mytuple))

3

In [11]:
mytuple = ("Апельсин", )
print(type(mytuple))

<class 'tuple'>

In [13]:
mytuple = ("Апельсин", 3 , True)
print(mytuple)

('Апельсин', 3, True)

In [15]:
mytuple = tuple(("Апельсин", 3 , True)) # двойные скобки
print(mytuple[0])

Апельсин

**Изменение кортежа**

In [19]:
mytuple = ("Апельсин", 3 , True)
mylist = list(mytuple)
mylist[1] = "Яблоко"
mylist[2] = "Банан"
mytuple = tuple(mylist)
print(mytuple)

('Апельсин', 'Яблоко', 'Банан')

**распаковка**

In [21]:
mytuple = ("Апельсин", 3 , True)
(x,z,y) = mytuple
print(x)
print(z)
print(y)

Апельсин
3
True

In [23]:
mytuple = ("Апельсин", 3 , True, 4, 0)
(x,z, *y) = mytuple
print(x)
print(z)
print(y)

Апельсин
3
[True, 4, 0]

In [24]:
mytuple = ("Апельсин", 3 , True, 4, 0)
(x, *z, y) = mytuple
print(x)
print(z)
print(y)

Апельсин
[3, True, 4]
0

In [25]:
mytuple = ("Апельсин", 3 , True, 4, 0)
(*x, z, y) = mytuple
print(x)
print(z)
print(y)

['Апельсин', 3, True]
4
0

**циклы**

In [27]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [28]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [29]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

**присоединение кортежей**

In [30]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**умножение**

In [36]:
tuple1 = ("Апельсин", 3 , True, 4, 0)
tuple2 = tuple1 * 3

print(tuple2)

('Апельсин', 3, True, 4, 0, 'Апельсин', 3, True, 4, 0, 'Апельсин', 3, True, 4, 0)