<a href="https://colab.research.google.com/github/Sokolkk/python_course/blob/main/Python_course10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Функции

Создание функции

In [4]:
def my_function():
  print("Привет из функции")
my_function()

Привет из функции

Аргументы

In [10]:
def my_function(numbers):
  print(str(numbers) + " это число")

my_function(1)
my_function(2)
my_function(3)

1 это число
2 это число
3 это число

In [13]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Иван", "Иванов")

Иван Иванов

Произвольные аргументы *args

In [14]:
def my_function(*kids):
  print("Самый старший " + kids[2])

my_function("Вася", "Петя", "Коля")

Самый старший Коля

Ключевые значения kwargs

In [16]:
def my_function(child3, child2, child1):
  print("Самый старший " + child3)

my_function(child1 = "Вася", child2 = "Петя", child3 = "Коля")

Самый старший Коля

Произвольные ключевые аргументы  ** kwargs

In [17]:
def my_function(**kid):
  print("Его фамилия " + kid["lname"])

my_function(fname = "Иван", lname = "Иванов")

Его фамилия Иванов

Значение параметра по умолчанию

In [19]:
def my_function(city = "Москва"):
  print("Я из " + city)

my_function("Санкт-Петербург")
my_function("Новосибирск")
my_function()
my_function("Екатеринбург")

Я из Санкт-Петербург
Я из Новосибирск
Я из Москва
Я из Екатеринбург

Передача списка в качестве аргумента

In [20]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["Яблоко", "Банан", "Апельсин"]

my_function(fruits)

Яблоко
Банан
Апельсин

Возвращаемые значения

In [24]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

Заявление о пропуске

In [26]:
def my_function(x):
  pass

Рекурсия

In [28]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21